/* You can add global styles to this file, and also import other style files */
.nav-handler{
  margin-top: 52px !important;
}
::-webkit-scrollbar{
  width: 7px;
  height: 0px;
}
::-webkit-scrollbar-track{
  background-color: rgb(90, 181, 237);
  height: 50% !important;
  bottom: 0;

}
::-webkit-scrollbar-thumb{
  background-color: #5a58ae;
  transition: 1s !important;
  margin-right: 30px !important;
  bottom: 0;

}
::-webkit-scrollbar-thumb:hover{
  background-color: rgb(136, 43, 207);
  bottom: 0;

}
